<h2>Update Discount</h2>
<%= form_with url: edit_merchant_bulk_discount_path(@merchant_1, @discount1), method: :patch, local: true do |f| %>
  <%= form.label :discount %>
  <%= form.text_field :discount %>
  <%= form.label :threshold %>
  <%= form.text_field :threshold %>
  <%= form.submit %>
<% end %>