<h2>My Discounts</h2>
<ol>
<% @merchant.bulk_discounts.each do |discount| %>
<li id="discount_<%= "#{discount.id}" %>">
<%= discount.discount %>% off <%= discount.threshold %> items.
<%= link_to "Discount #{discount.id}", merchant_bulk_discount_index_path(@merchant, discount.id) %>
<%= link_to "Delete Discount #{discount.id} " %>
<% end %>
</ol>
<%= link_to "New Discount", new_merchant_bulk_discount_path(@merchant) %>
