<h2>Add New Discount</h2>
<%= form_with url: "/merchants/#{@merchant.id}/bulk_discount", method: :post, local: true do |f| %>
  <%= f.label :discount %>
  <%= f.text_field :discount%>
  <%= f.label :threshold %>
  <%= f.text_field :threshold %>
 
  <%= f.submit %>
<% end %>