<!DOCTYPE html>
<html>
  <head>
    <style>
      .footer {
        float: bottom;
        background-color: lightgray;
        padding: 3px;
        display: flex;
      }
      .footer_l {
        float: left;
        background-color: lightgray;
        width: 28%;
        padding: 10px;
      }
      .footer_r {
        float: right;
        text-align: right;
        background-color: lightgray;
        width: 68%;
        padding: 10px;
      }
    </style>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
    <div id="flash-messages">
      <%= msg %>
    </div>
    <% end %>
    <%= yield %>
  </body>
</html>
